@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<address>
PTMC Headquarters <br />
Space Station Shiva, Earth Orbit<br />
</address>

<address>
    <strong>SRAD Research:</strong>   SSwitzer@PTMC.com<br />
    <strong>Support:</strong> SDravis@PTMC.com <br />
</address>