@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-image: none;
    }
</style>

<section class="jumbotron" style="background-color:dimgray;">
    <img src="~/Content/PTMCLogo.png" style="margin-right:20px ; width: 20%; height: 20%; position:center; background-color:black; float:left; border: 3px solid lightgray;"/>
    <article class="col-9">
        <p style="background-color:transparent; ">Post-Terran Mining Corperation: Advanced Solutions for Modern Mineral Needs. </p>
    </article>
</section>
